html, body {
    height: 100%;
    user-select: none;
    background-color: #1f1f1f;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #6f6f6f;
    border: 1px solid black;
    border-radius: 8px;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 18%;
    margin: 10px;
    padding: 0 8px 0 0;
    background-color: #7f7f7f;
    color: white;
    font-size: 48px;
    border: 1px solid black;
    border-radius: 8px;
}

.buttons {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    margin: 0 10px 10px 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
    border: 1px solid black;
    color: white;
    border-radius: 8px;
    font-size: 30px;
}

.button:active {
    filter: brightness(150%)
}

.number, .negative, .decimal {
    background-color: #1d1d1d;
}

.equals {
    background-color: rgb(38, 126, 126);
}

.negative {
    writing-mode: vertical-rl;
}

.negative-sign {
    transform: rotate(90deg);
    padding-left: 15px;
}

.is-depressed {
    filter: brightness(150%);
}